body {
    background-color: #547678;
}

.container{
    background-color: rgba(220, 220, 220, 0.594);
    height: auto;
    width: 80%;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 1px 1px 3px rgb(111, 111, 109);
    border-radius: 10px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.container p {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}